:root {
    --widthContainer: 60%;
    --mainColor: #8506da;
    --subColor: rgb(250, 217, 33);
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--mainColor);
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #f0f0f0;
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: center;
}

.center {
    width: var(--widthContainer);
}

/* Header */

.header {
    background-color: var(--mainColor);
    height: 50px;
    color: white;
}

.nav, .nav ul {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
    color: var(--subColor);
}



/* Main */

.main {
    width: 100%;
    height: 100vh;
}

.grid-container {
    --gap: 10px;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
    padding: 10px 0;
    row-gap: var(--gap);
}

.grid-container a {
    color: inherit;
    text-decoration: none;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: inset 0px 1px 5px var(--mainColor);
}

.grid-item:hover {
    box-shadow: 0px 1px 5px var(--mainColor);
}

.grid-value {
    padding: 10px 0 0 0;
}

.grid-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grid-price {
    font-weight: bold;
}

.grid-img {
    height: 200px;
}

/* Product */

.product {
    margin: 10px 0;
    padding: 20px;
    display: flex;
    justify-content: start;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product img {
    height: 350px;
    margin-right: 20px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-category {
    margin-bottom: 10px;
}

.product-category span:first-child h3 {
    display: inline;
}

.product-category span:last-child {
    color: var(--mainColor);
    margin-left: 5px;
}

.product-category span:last-child a:hover, .category:hover {
    text-decoration: underline;
}

.product-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.real-price {
    color: grey;
    text-decoration: line-through;
}

.discount-price {
    margin: 0 10px 0 5px;
    font-size: 28px;
    font-weight: bold;
    color: var(--mainColor);
    filter: brightness(1.2);
}

.discount-value {
    color: white;
    font-size: 12px;
    background-color: var(--mainColor);
    padding: 3px;
    text-align: center;
    border: none;
    border-radius: 2px;
}

.product-description p {
    line-height: 1.5;
}

.product-description h3 {
    margin-bottom: 10px;
}

.product-cart {
    cursor: pointer;
    margin-top: 20px;
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: var(--mainColor);
    padding: 10px;
    color: white;
}

.product-cart:hover {
    filter: brightness(1.5);
}

.product-cart svg {
    fill: white;
}

/* Categories */

.categories {
    display: flex;
    justify-content: space-evenly;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 30px 0;
}

.category {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    height: auto;
}

.category.active {
    background-color: var(--mainColor);
}

.category.active a {
    color: var(--subColor);
}

/* About */

.about {
    display: flex;
    justify-content: start;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
}

.about-profile img {
    border-radius: 50%;
    width: 150px;
}

.about-nama {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}

.about-text {
    margin: 0 0 10px 40px;
}